/*
Theme Name:  Pico
Description:  Pico (Twenty Sixteen Child Theme)
Template:     twentysixteen
*/

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.mission {
    margin: 10px;
    background-color: #646464;
    float: left;
    padding: 10px;
    border-radius: 5px;
    box-sizing: inherit;
    position: relative;
    width: 200px;
    height: 200px;
}

.mission a {
    color: white;
}

.mission-picture {
    padding: 10px;
}

.homepage-title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #52ba63;
    font-size: 36px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #52ba63;
}

@media screen and (min-width: 44.375em) {
    .homepage-title {
        font-size: 66px;
    }
}

@media screen and (min-width: 48.9375em) {
    .homepage-title {
        font-size: 74px;
    }
}


@media screen and (min-width: 56.875em) {
    .homepage-title {
        font-size: 86px;
    }
}


.pico-header-image {
    float: left;
    display: block;
    margin: 0px;
}

.site-header {
    padding: 0em;
}

.site {
    margin: 0px;
    background-color: transparent;
}

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
    height: 0px;
}

.site-branding, .site-header-menu, .header-image {
    margin: 0px;
}

.site-header-main {
    background: #52ba63;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-navigation a {
    color: white;
    margin-left: 0.5em;
}

.main-navigation ul ul li {
    background: #52ba63;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
    color: white;
    background-color: #c6b200;
}


.content-area {
    margin-right: 0;
    width: 98%;
}

.menu-toggle {
    border: 1px solid #ffffff;
    color: white;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: #c6b200;
    border-color: #ffffff;
    color: #ffffff;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
    background-color: #c6b200;
    border-color: #ffffff;
    color: #ffffff;
}


.dropdown-toggle {
    color: #ffffff;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: transparent;
    color: #ffffff;
}

html, body.home {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}

body.home {
    background: #FFF url(images/peek-pico.gif) no-repeat bottom right;
}

.mission-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#map_canvas {
    width: 100%;
    height: 600px;
}